.table-container {
    padding: 20px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .table-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .table-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 220px; /* Reduced width for each table item */
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 20px; /* Add margin to create space between items */
  }
  
  .table-item:last-child {
    margin-right: 0; /* Remove margin from the last item to prevent extra space */
  }
  
  .table-item img {
    width: 100%;
    height: 200px; /* Fixed height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .item-details {
    padding: 10px 0;
  }
  
  .item-details h3 {
    margin: 0;
  }
  
  .item-details p {
    margin: 5px 0;
  }
  
  .item-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .add-table-item input {
    margin-right: 10px;
  }
  
  .add-table-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .update-table-btn {
    background-color: #28a745;
  }
  
  .add-table-btn:hover,
  .update-table-btn:hover {
    opacity: 0.8;
  }