/* About.css */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.about-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.about-container p:first-of-type {
  font-weight: bold;
}

.about-container p:last-of-type {
  margin-top: 40px;
}

.about-head h2{
  padding: 30px;
  text-align: center;
}
.image-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px;
}

.image-info {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.image-info img {
  width: 300px;
  height: 400px;
  max-width: 550px; /* Adjust as needed */
}

.description {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: block; /* Hidden by default */
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #0b0909;
  border-top: 1px solid #e7e7e7;
  color: white;
}

.contact-info,
.name,
.time {
  flex: 1;
  margin: 0 10px;
}

.contact-info h2,
.time p {
  margin-bottom: 8px;
}

.name h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.middle-container {
  display: flex;
  padding-left: 30px;
  
}

.middle {
  margin: 0 8px;
}

.icons {
  font-size: 22px;
  color: #e89292;
}

.icons:hover {
  color: #f8f8f8;
}

.time p {
  margin: 0;
}

strong {
  display: block;
  margin-top: 8px;
  margin-bottom: 3px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .contact-info,
  .name,
  .time {
    margin: 10px 0;
    text-align: center;
  }

  .middle-container {
    justify-content: center;
  }
}

